<div class="bg-orange py-6">
  <div class="container">
    <div class="flex flex-col items-center">
      <img src="{{ options.logo_alt.url }}" alt="{{ options.logo_alt.alt }}">
      {% if (options.socials) %}
        <div class="socials my-8">
          <div class="flex">
            {% for social in options.socials %}
              <a
                href="{{ social.redirection.url }}"
                class="mx-4"
                target="{{ social.redirection.target }}"
                title="{{ social.redirection.title }}"
                aria-label="{{ social.redirection.title }}"
              >
                <img src="{{ social.image.url }}"
                     alt="{{ social.redirection.title }}"
                     class="h-8 w-8"
                >
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if footer %}
        <div class="footer-menu flex flex-col lg:flex-row text-center lg:text-left">
          {% for menu_item in footer %}
            <a
              href="{{ menu_item.url }}"
              class="text-white mx-6 mb-4 lg:mb-0"
              target="{{ menu_item.target }}"
              title="{{ menu_item.title }}"
              aria-label="{{ menu_item.title }}"
            >
              {{ menu_item.title }}
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
