<div class="main-menu py-8">
  <div class="container">
    {% if items %}
      <div class="flex justify-between items-center">
        {% for item in items %}
          <a
            href="{{ item.url }}"
            class="text-accent-blue flex flex-col items-center {{ item.class }}"
            target="{{ item.target }}"
            title="{{ item.title }}"
            aria-label="{{ item.title }}"
          >
            {% if item.meta('image') %}
              <img src="{{ item.meta('image').url }}"
                   alt="{{ item.meta('image').alt }}"
                   class="h-20"
              >
            {% else %}
              <span class="text-2xl mb-1">{{ item.title }}</span>
              <span class="dot" style="background-color: {{ item.meta('dot_color') }}"></span>
            {% endif %}
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
