<div class="block-slider overflow-hidden relative" id="{{ fields.anchor }}">
  <div class="swiper-recipes">
    <div class="swiper-wrapper">
      {% for slide in fields.slides %}
        <div class="swiper-slide">
          <div class="container">
            <h2
              class="recipe-title text-3xl xl:text-6xl xxl:text-10xl uppercase lg:w-10/12 lg:ml-auto text-center lg:text-left mb-6 lg:mb-0 font-arial"
              style="-webkit-text-stroke-color: {{ slide.color }}"
            >
              {{ slide.title }}
            </h2>
            <img src="{{ slide.image.url }}"
                 alt="{{ slide.image.alt }}"
                 class="slide-image"
            >
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="navigation">
      <div class="container">
        <div class="flex justify-between">
          <button class="nav-button swiper-prev">&lsaquo;</button>
          <button class="nav-button swiper-next">&rsaquo;</button>
        </div>
      </div>
    </div>
  </div>
</div>
