<div class="block-partners relative" id="{{ fields.anchor }}">
  <div class="container">
    <div class="flex flex-col">
      <div class="content mb-8 lg:mb-14 lg:w-1/2">
        <h2 class="text-orange uppercase text-2xl lg:text-3xl mb-4">{{ fields.title }}</h2>
        <div class="text-base text-dark-grey">{{ fields.content }}</div>
      </div>
      {% if fields.partners %}
        <div class="flex items-center justify-center flex-col">
          <div class="flex items-center justify-center">
            <img src="{{ asset('assets/images/partner-arrow-left.svg') }}" alt="Partenaires - Flèche gauche"
                 class="relative top-2 hidden md:block">
            <h3 class="text-dark-grey mb-10 text-2xl md:mx-14">{{ fields.subtitle }}</h3>
            <img src="{{ asset('assets/images/partner-arrow-right.svg') }}" alt="Partenaires - Flèche droite"
                 class="relative top-2 hidden md:block">
          </div>
          <div class="flex items-center justify-center mb-8">
            {% for partner in fields.partners %}
              <div class="flex items-center flex-col mx-6 {{ is_admin() ? 'hidden': '' }}">
                <a
                  href="{{ partner.redirection.url }}"
                  title="{{ partner.redirection.title }}"
                  aria-label="{{ partner.redirection.title }}"
                  target="{{ partner.redirection.target }}">
                  <img src="{{ partner.logo.url }}" alt="{{ partner.logo.url }}" class="h-14">
                </a>
              </div>
            {% endfor %}
          </div>
          <div class="flex items-center justify-center text-center md:w-1/2 mx-auto">
            <div class="text-base text-dark-grey">
              {{ fields.more_text }}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
