<div class="block-contact-link-products is-first-step">
  <div class="container">
    <div class="flex flex-col {{ fields.position }}">
      <div class="flex flex-col items-center">
        {% if fields.text or fields.first_step_text %}
          <p class="text-dark-grey mb-6 text-center mb-4" data-first-step>{{ fields.first_step_text }}</p>
          <p class="text-dark-grey mb-6 text-center mb-4" data-second-step>{{ fields.text }}</p>
        {% endif %}
        <div class="flex items-start">
          <img src="{{ asset('assets/images/rdv-ici-v2.svg') }}" alt="Rendez-vous ici !"
               data-first-step
               class="hidden md:block"
               id="asset-left">
          <button
            title="{{ fields.first_step_button }}"
            aria-label="{{ fields.first_step_button }}"
            class="button-primary bg-orange text-white mx-2"
            data-first-step
            style="min-width: 184px"
            id="secondStepEnabler"
          >
            {{ fields.first_step_button }}
          </button>
          <img src="{{ asset('assets/images/c-est-la-v2.svg') }}" alt="C'est par là !"
               class="hidden md:block"
               data-first-step
               id="asset-right">
        </div>
        <div class="flex items-start">
          <img src="{{ asset('assets/images/rdv-ici-v2.svg') }}" alt="Rendez-vous ici !" id="asset-left"
               data-second-step
               class="hidden md:block">
          <a
            href="{{ fields.redirection.url }}"
            title="{{ fields.redirection.title }}"
            aria-label="{{ fields.redirection.title }}"
            target="{{ fields.redirection.target }}"
            class="button-primary bg-orange text-white mx-2"
            data-second-step
          >
            {{ fields.redirection.title }}
          </a>
          <img src="{{ asset('assets/images/c-est-la-v2.svg') }}" alt="C'est par là !" id="asset-right"
               data-second-step
               class="hidden md:block">
        </div>
      </div>
    </div>
  </div>
</div>
