{% set side = fields.is_side_reversed ? 'lg:flex-row-reverse flex-col-reverse' : 'lg:flex-row flex-col lg:items-center items-start' %}
{% set titles_side = fields.titles.is_title_reversed ? 'flex-col-reverse' : 'flex-col' %}

<div class="block-image-content" id="{{ fields.anchor }}">
  <div class="container">
    <div class="flex {{ side }} items-center">
      <div class="lg:w-1/2 w-full mb-8 lg:mb-0">
        <div class="flex {{ titles_side }} mb-6 text-orange text-center lg:text-left mb-4">
          <div class="text text-4xl xl:text-5xl wide:text-7xl">
            {{ fields.titles.title }}
          </div>
          {% if fields.titles.tagline %}
            <div class="tagline recipe-title uppercase">
              {{ fields.titles.tagline }}
            </div>
          {% endif %}
        </div>
        <div class="content flex flex-col lg:w-9/12 text-accent-blue">
          {% if fields.text_before_quote %}
            <div class="may-have-bold mb-6">{{ fields.text_before_quote }}</div>
          {% endif %}
          {% if fields.quote %}
            <div class="quote w-11/12 mx-auto mb-6 text-3xl font-semibold text-orange">{{ fields.quote }}</div>
          {% endif %}
          {% if fields.text_after_quote %}
            <div class="may-have-bold mb-8">{{ fields.text_after_quote }}</div>
          {% endif %}
        </div>
      </div>
      <div class="lg:w-1/2 w-full mb-8 lg:mb-0">
        <img src="{{ fields.image.url }}"
             alt="{{ fields.image.alt }}"
             class="object-cover w-full"
        >
      </div>
    </div>
  </div>
</div>
