<div class="block-header h-screen flex items-center justify-center overflow-hidden">
  <div class="container">
    <div class="content flex items-center rounded-xl bg-orange-light relative">
      <div class="xl:w-1/2 w-full">
        <div class="lg:w-10/12 xl:w-11/12 wide:w-10/12 lg:mx-auto xl:ml-auto text-center xl:text-left">
          <div class="title">
            {% if fields.title %}
              <h1 class="text-5xl xl:text-8xl flex flex-col mx-2 lg:mx-0">
                <span class="xl:w-11/12 text-accent-blue font-medium leading-tight">
                  {{ fields.title }}
                </span>
                <span
                  class="lg:text-10xl font-medium title-forward">
                  {{ fields.title_forward ? fields.title_forward : "" }}
                </span>
              </h1>
            {% endif %}
          </div>
        </div>
      </div>
      {% if fields.image %}
        <div class="lg:w-1/2 hidden xl:block">
          <img src="{{ fields.image.url }}"
               alt="{{ fields.image.alt }}"
               class="object-cover transform rotate-12 absolute header-image" id="header-image"
          >
        </div>
      {% endif %}
      <div class="absolute bottom-4 redirect">
        <a
          href="{{ fields.redirection.url }}"
          class="surtitle text-sm text-accent-blue uppercase"
          target="{{ fields.redirection.target }}"
          title="{{ fields.redirection.title }}"
          aria-label="{{ fields.redirection.title }}"
        >
          {{ fields.redirection.title }}
        </a>
      </div>
    </div>
  </div>
</div>
