<div class="block-slider" id="{{ fields.anchor }}">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for slide in fields.slides %}
        <div class="swiper-slide">
          <div class="container">
            <h2 class="slide-title recipe-title uppercase"
                style="-webkit-text-stroke-color: {{ slide.color }}"
            >
              {{ slide.title }}
            </h2>
            <img src="{{ slide.image.url }}"
                 alt="{{ slide.image.alt }}"
                 class="slide-image"
            >
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
