<div class="block-contact-link">
  <div class="container">
    <div class="flex flex-col {{ fields.position }}">
      <a
        href="{{ fields.redirection.url }}"
        title="{{ fields.redirection.title }}"
        aria-label="{{ fields.redirection.title }}"
        target="{{ fields.redirection.target }}"
        class="flex items-start relative"
      >
        <img src="{{ asset('assets/images/rdv-ici.svg') }}" alt="Rendez-vous ici !" class="absolute" id="asset-left">
        <div class="button-primary bg-orange text-white" id="redirection">{{ fields.redirection.title }}</div>
        <img src="{{ asset('assets/images/ou-la.svg') }}" alt="C'est par là !" class="absolute" id="asset-right">
      </a>
    </div>
  </div>
</div>
