<div class="block-pro" data-id="{{ block.id }}" id="{{ fields.anchor }}">
  <div class="container">
    <div class="flex flex-col items-center">
      <div class="content flex flex-col flex-col-reverse lg:flex-row mb-6">
        <div class="lg:w-1/2">
          <h1 class="text-orange uppercase text-2xl lg:text-4xl mb-4">{{ fields.title }}</h1>
          <div class="content text-grey-dark">{{ fields.content }}</div>
        </div>
        <div class="lg:w-1/2">
          <img src="{{ fields.image.url }}" alt="{{ fields.image.alt }}" class="w-full">
        </div>
      </div>
    </div>
  </div>
</div>
