{% set isOverlay = fields.enable_overlay ? '' : 'hidden' %}
{% set headerHeight = fields.enable_large ? '800px' : '650px' %}

<div class="block-header flex overflow-hidden bg-center bg-cover relative py-8 md:py-0"
     style="background-image: url({{ fields.image.url }}); height: {{ headerHeight }}; background-position: {{ fields.background_position }};">
  <div class="overlay inset-0 absolute w-full h-full {{ isOverlay }}"></div>
  <div class="container relative z-10">
    <div class="h-full flex items-center">
      <div class="mx-auto xl:mr-auto xl:ml-0 xl:w-1/2 text-center">
        {% if fields.title %}
          <div class="flex flex-col mx-2 lg:mx-0 header-title">
            {{ fields.title }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
