{% set isReversed = fields.first_section.is_block_reversed %}
{% set side = isReversed ? "flex-col xl:flex-row xl:flex-row-reverse" : "flex-col xl:flex-row" %}
{% set color = fields.main_color %}

<div class="block-product py-8" id="{{ fields.anchor }}">
  <div class="base">
    <div class="container">
      <div class="flex {{ side }}">
        <div class="xl:w-1/2 mb-6 lg:mb-0">
          <h2 class="recipe-title uppercase hidden lg:block" style="color: {{ color }}">{{ fields.title }}</h2>
          <div class="flex flex-col flex-col-reverse lg:flex-row items-center items-center">
            <div
              class="lg:w-1/2 xl:w-6/12 flex flex-col items-start {{ isReversed ? 'xl:items-left' : 'xl:items-center' }} mb-4 lg:mb-0">
              <h2 class="recipe-title uppercase lg:hidden" style="color: {{ color }}">{{ fields.title }}</h2>
              <h3 class="text-xl mb-6"
                  style="color: {{ color }}">{{ fields.first_section.subtitle }}</h3>
              <div class="text-accent-blue mb-6">{{ fields.first_section.description }}</div>
              {% if fields.first_section.redirection %}
                <button
                  data-target="{{ fields.first_section.redirection.url }}"
                  class="rounded px-4 py-1 text-white open-modal hidden lg:block" style="background-color: {{ color }}"
                  title="{{ fields.first_section.redirection.title }}"
                  aria-label="{{ fields.first_section.redirection.title }}"
                >
                  {{ fields.first_section.redirection.title }}
                </button>
              {% endif %}
            </div>
            <div class="lg:w-1/2 xl:w-6/12">
              {% set imagePlacement = isReversed ? '' : 'xl:-right-8' %}
              <img src="{{ fields.first_section.product_image.url }}"
                   alt="{{ fields.first_section.product_image.alt }}"
                   class="w-full product-image relative lg:-top-8 mb-6 lg:mb-0 {{ imagePlacement }}">
            </div>
          </div>
          <div class="content lg:hidden">
            <div class="flex flex-col lg:flex-row">
              <div class="w-full">
                {% set left_column = fields.second_section.left_column %}
                {% if left_column.contents %}
                  <div class="contents flex flex-col">
                    {% for content in left_column.contents %}
                      <div class="content mb-6">
                        <h4 class="mb-4 text-2xl font-bold" style="color: {{ color }}">{{ content.title }}</h4>
                        <div class="text-accent-blue may-have-bold">{{ content.content }}</div>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="w-full">
                {% set right_column = fields.second_section.right_column %}
                {% if right_column.contents %}
                  <div class="contents flex flex-col">
                    {% for content in right_column.contents %}
                      <div class="content mb-6">
                        <h4 class="mb-4 text-2xl font-bold" style="color: {{ color }}">{{ content.title }}</h4>
                        <div class="text-accent-blue may-have-bold">{{ content.content }}</div>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="lg:w-1/2 hidden xl:block">
          <img src="{{ fields.first_section.product_background.url }}"
               alt="{{ fields.first_section.product_background.alt }}"
               class="pr-8">
        </div>
      </div>
    </div>
  </div>
  <!-- Hidden -->
  {% set modalSide = isReversed ? 'flex-row-reverse' : 'flex-row' %}
  {% set modalPadding = isReversed ? 'pl-8' : 'pr-8' %}
  <div class="details inset-0 absolute w-full h-full bg-white pt-8 pb-8 hidden bg-white z-10"
       id="{{ fields.second_section.anchor }}">
    <div class="header pl-8">
      <button class="close-modal pb-8" title="Retour aux produits">
        <i class="icon-arrow-left"></i>
        <span>RETOUR</span>
      </button>
    </div>
    <div class="flex mb-8 {{ modalSide }} {{ modalPadding }}">
      <div class="banner-wrapper w-8/12">
        <h2
          class="recipe-title uppercase mb-8 {{ isReversed ? 'pr-8' : 'pl-8' }} {{ isReversed ? 'text-right': 'text-left' }}"
          style="color: {{ color }}">{{ fields.title }}</h2>
        <div class="banner bg-no-repeat bg-center bg-cover"
             style="background-image: url({{ fields.second_section.product_background.url }})"></div>
      </div>
      <div class="w-4/12">
        <img src="{{ fields.second_section.product_image.url }}"
             alt="{{ fields.second_section.product_image.alt }}"
             class="relative top-0 {{ isReversed ? '-right-17' : '-left-11' }}"
        >
      </div>
    </div>
    <div class="content pl-8 bg-white">
      <div class="flex flex-col lg:flex-row">
        <div class="w-8/12">
          {% set left_column = fields.second_section.left_column %}
          {% if left_column.contents %}
            <div class="contents flex flex-col">
              {% for content in left_column.contents %}
                <div class="content mb-8">
                  <h4 class="mb-4 text-2xl font-bold" style="color: {{ color }}">{{ content.title }}</h4>
                  <div class="text-accent-blue may-have-bold">{{ content.content }}</div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="w-4/12">
          {% set right_column = fields.second_section.right_column %}
          {% if right_column.contents %}
            <div class="contents flex flex-col">
              {% for content in right_column.contents %}
                <div class="content mb-8">
                  <h4 class="mb-4 text-2xl font-bold" style="color: {{ color }}">{{ content.title }}</h4>
                  <div class="text-accent-blue may-have-bold">{{ content.content }}</div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .block-product .may-have-bold b, .block-product .may-have-bold strong {
    color: {{ color }} !important;
  }
</style>
